html,
body {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(to top, #02c0c4, #07e87c);
  background-repeat: no-repeat;
  height: 100vh;
  font-family: Oxygen, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-display {
  font-size: 3.5rem;
}

h4 {
  font-size: 1.5rem;
}

button {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: none;
  background-color: rgb(31, 2, 33);
  margin-top: 1em;
  font-size: 5rem;
}

button:hover,
button:active,
button:focus {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: none;
  background-color: rgb(155, 6, 165);
  margin-top: 1em;
  font-size: 5rem;
}

button:active {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: none;
  background-color: rgb(241, 229, 242);
  margin-top: 1em;
  font-size: 5rem;
}
